@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('tff');
	font-weight: normal;
	font-style: normal;
}

@layer base {
	body {
		@apply bg-bg text-text font-poppins;
	}

	p {
		@apply text-lg mb-8;
	}

	h2,
	h1 {
		@apply text-4xl pb-3 pt-4;
	}
	h3 {
		@apply text-3xl pb-3 pt-4;
	}

	a {
		@apply hover:text-accent active:border-accent active:border-b;
	}
}
