/* Root Variables */
:root {
	--bg: #020a17;
	--text: #d9e7fc;
	--accent: #f1892a;
	--primary: #74a6f6;
	--secondary: #940a28;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: #4e4e4e;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), rgba(var(--bg));
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%),
		0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

/* Fonts */
@font-face {
	font-family: 'Cascadia Code';
	src: url('/fonts/CascadiaCode.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cascadia Code';
	src: url('/fonts/CascadiaCode.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Global Styles */
body {
	font-family: 'Cascadia Code', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--bg);
	background-size: 100% 600px;
	overflow-wrap: break-word;
	color: var(--text);
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
	text-decoration: none;
}
a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}

textarea,
input {
	font-size: 16px;
}
textarea {
	width: 100%;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

/* Accessibility */
.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* Header Styles */
header {
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
	position: sticky;
	top: 0;
	height: 100px;
	width: 100%;
}
header h2 {
	margin: 0;
	margin-top: -15%;
}
header h2 a,
header h2 a.active {
	text-decoration: none;
}
header nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}
header nav a {
	color: var(--black);
	border-bottom: 4px solid transparent;
	text-decoration: none;
}
header nav a.active {
	text-decoration: none;
	border-bottom-color: var(--accent);
}
header .internal-links {
	display: flex;
	flex-direction: column;
}
header .title p {
	margin-top: -1%;
	color: gray;
	font-size: larger;
	font-weight: lighter;
}
header p {
	margin-top: -1%;
	color: gray;
	font-size: small;
	font-weight: lighter;
}
header .socialDiv {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

/* Footer Styles */
footer {
	padding: 2em 1em 6em 1em;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	color: rgb(var(--gray));
	text-align: center;
}
footer .social-links {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: 1em;
}
footer .social-links a {
	text-decoration: none;
	color: rgb(var(--gray));
}
footer .social-links a:hover {
	color: rgb(var(--gray-dark));
}

/* Blog Post Styles */
main.blogpost {
	width: calc(100% - 2em);
	max-width: 100%;
	margin: 0;
}
.blogpost .hero-image {
	width: 100%;
}
.blogpost .hero-image img {
	display: block;
	margin: 0 auto;
	border-radius: 12px;
	box-shadow: var(--box-shadow);
}
.blogpost .prose {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--text));
}
.blogpost .title {
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;
}
.blogpost .title h1 {
	margin: 0 0 0.5em 0;
}
.blogpost .date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}
.blogpost .last-updated-on {
	font-style: italic;
}

/* Index Styles */
main.index {
	width: 75%;
}
.index ul {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.index ul li {
	width: calc(50% - 1rem);
}
.index ul li * {
	text-decoration: none;
	transition: 0.2s ease;
}
.index ul li:first-child {
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}
.index ul li:first-child img {
	width: 100%;
}
.index ul li:first-child .title {
	font-size: 2.369rem;
}
.index ul li img {
	margin-bottom: 0.5rem;
	border-radius: 12px;
}
.index ul li a {
	display: block;
}
.index .title {
	margin: 0;
	color: var(--text);
	line-height: 1;
}
.index .date {
	margin: 0;
	color: rgb(var(--gray));
}
.index ul li a:hover h4,
.index ul li a:hover .date {
	color: rgb(var(--accent));
}
.index ul a:hover img {
	box-shadow: var(--box-shadow);
}

/* Container Styles */
.container {
	display: flex;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
.container .content {
	flex-direction: column;
	width: 130%;
}

@media print, screen and (max-width: 960px) {
	header {
		float: none;
		position: static !important; /* Ensure the header is not sticky */
		width: 100% !important; /* Ensure the header takes the full width */
		height: auto;
		top: auto !important; /* Remove the top positioning */
		left: auto !important; /* Remove the left positioning */
		z-index: auto !important; /* Ensure it does not interfere with other elements */
		background: var(
			--bg
		) !important; /* Ensure the background covers content behind */
	}
	header nav {
		align-items: center;
	}

	body {
		font-size: 18px;
		padding-top: 0; /* Remove padding added for fixed header height */
	}

	main {
		padding: 1em;
	}

	.index ul {
		gap: 0.5em;
	}

	.index ul li {
		width: 100%;
		text-align: center;
	}

	.index ul li:first-child {
		margin-bottom: 0;
	}

	.index ul li:first-child .title {
		font-size: 1.563em;
	}

	.container {
		flex-direction: column;
	}
	.container .content {
		width: 100%;
	}
}
