---
import BlogPost from '../layouts/BlogPost.astro';
---

<BlogPost
	title="Intro"
	description="Info dump about myself."
	pubDate={new Date('March 24 2024')}
	updatedDate={new Date('August 20 2024')}
>
	<p>
		Hello! I go by Naxe online, a self-taught software engineer with a passion
		for tech and developing web and mobile apps. I spend most of my time
		learning as much as I can working with various programming languages and
		frameworks, always striving to deliver improve my craft when it comes to
		software design and delivery.
	</p>

	<h2>My Journey Engineering</h2>
	<p>
		My career began with some odd ball contracting jobs done for friends and
		family operating small businesses, until I ended up joining a passionate
		team creating immersive game experiences for all ages. The position was for
		a developing projects with a niche programming language called Haxe
		(https://haxe.org) I worked as a Game Engine Programmer and Front-end Dev at
		Sandbox Networks Inc, where I worked on mobile and desktop applications
		combatting technical debt, and working with legacy game code solving
		low-level graphics problems (Mostly WebGL). This role honed my skills in
		graphics performance, memory management, and multi-threading. It was here
		that I learned to translate creative ideas into technical specifications,
		resulting in my current UX-focused approach.
	</p>

	<h2>Engineering with .NET</h2>
	<p>
		In 2022, The company I was with decided to pivot to creating different kinds
		of experiences, and while I was onboard for a while, I couldn't see myself
		move away from strongly typed programming languages, especially since I had
		a soft spot for Haxe Development. So armed with my front-end and desire to
		work with statically typed languages, I transitioned to Coppei in Seattle
		out of Washington State, where I worked as a .NET Developer and Consultant.
		The learning curve was immense, as even just understanding the differences
		between the various .NET versions was confusing. Slowly but surely I got the
		hang of things, and over almost 2 years, I helped developed various web
		applications and interfaces using ASP.NET Core, C#, Blazor, and (Somtimes)
		React. I extended the functionality of some RESTful APIs for different kinds
		of microservices, as well as managing some other relational databases.
		Learning how to manage automated build and deployment pipelines using
		weather it was Azure DevOps or GitHub actions was probably the most
		difficult thing for me at the time. I enjoyed improving and optimizing
		internal tools for better performance and scalability the most I think.
	</p>

	<h2>Independent Development</h2>
	<p>
		Outside of my professional roles, I've been an independent developer since
		2013, making mobile and desktop apps or games with wildly different tech
		stacks. I'm pretty passionate about my personal projects, as I feel like I
		gain an immense amount of experience and skill from working on the things I
		feel like make a difference for me. A good example would be this site built
		with Astro (https://astro.build/)!
	</p>

	<h2>Skills and Language Preferences</h2>
	<p>
		Everyone has their own preferences when it comes to their programming
		language of choice, however I think what's really important is a solid
		understanding of core CS principles. While I love C#, one of my favorite
		languages has to be Haxe. Other languages I am relatively proficient in
		include Java, C#, C++, SQL, and JavaScript (preferably TypeScript!). I pride
		myself on strong problem-solving skills, excellent communication, teamwork,
		and a commitment to helping other developers improve.
	</p>

	<h2>Community Involvement</h2>
	<p>
		Giving back to open source communities means a lot to me and I've have been
		volunteering with HaxeFlixel since 2016, helping beginners learn how to use
		the platform to build their hobby projects help me feel more connected to
		the tools I use daily.
	</p>

	<h2>Personal Projects and Hobbies</h2>
	<p>
		When I'm not coding, I'll work on improving my art and design sense, or do
		work on my personal tools that help shape my own workflow. I have a big
		appreciation for visual arts, which often complements my technical projects.
	</p>

	<h2>Hobbies</h2>
	<p>
		Outside of this, I love studying other cultures and traditions, alongside
		speaking different languages. I like spending time outdoors, eating good
		food and exploring trails with friends. I'm an avid reader, especially of
		topics relating to psycology or history, which fuel my creativity. I also
		enjoy drawing as a way to relax and express myself. On weekends, I'll try
		cooking new recipes or watching movies. (sometimes both!)
	</p>

	<p>
		Thank you for reading this far out, feel free to explore my projects, and
		give my <a href="https://github.com/naxecode">GitHub</a> a look to see what I'm
		up to!
	</p>
</BlogPost>
