---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Info dump about myself."
	pubDate={new Date('March 24 2024')}
	heroImage="/Lone-Tree-in-Tall-Grass.jpeg"
>
	<p>
		I'm a game developer obsessed with thoughtful design. 
		I get frustrated by games that feel like they steal my life.
		Creating fun games that inspire your inner hero is want I want to do.
	</p>
	<p>
		I'll make this website less generic in time... I promise.
	</p>
</Layout>
