---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Info dump about myself."
	pubDate={new Date('March 24 2024')}
	heroImage="/Lone-Tree-in-Tall-Grass.jpeg"
>
	<p>
		Hello! I go by Naxe online, a passionate software engineer with a knack for
		developing web and mobile apps. Based in Florida, I spend most of my time
		mastering various programming languages and frameworks, always striving to
		deliver high-quality software.
	</p>

	<h2>My Journey</h2>
	<p>
		I dove into the world of programming in 2012, and since then, I’ve been on a
		continuous journey of learning and growth. As a self-taught programmer, I’ve
		taken countless online courses and embarked on numerous personal projects to
		broaden my skills and stay current with the latest technologies.
	</p>

	<h2>Professional Experience</h2>
	<p>
		Over the years, I’ve worked on a wide range of programming projects, from
		simple single codebases to complex, multi-repository systems. I started my
		career in video games, focusing on Graphics APIs, and later transitioned to
		web development. Now, I tackle projects involving web APIs and database
		management, finding particular interest in the crucial yet intricate nature
		of databases.
	</p>

	<h2>Independent Projects</h2>
	<p>
		Beyond my professional roles, I’ve independently developed several mobile
		and desktop applications. I’ve had the pleasure of collaborating with
		artists and musicians to create unique online experiences. One of my
		favorite projects was the "One Game A Week" challenge, where I developed
		seven free online games.
	</p>

	<h2>Skills and Certifications</h2>
	<p>
		I’m proficient in Java, C#, C++, SQL, and HTML/CSS/JavaScript. My
		certifications include Microsoft Certified .NET Developer and Oracle
		Certified Professional, Java SE 8 Programmer.
	</p>
	<p>
		For game development, my tech stack includes Haxe, Lime, OpenFL, HaxeFlixel,
		HashLink, Aseprite, Visual Studio Code, and I usually develop on macOS.
	</p>

	<h2>Community Involvement</h2>
	<p>
		I believe in giving back to the community and have been volunteering with
		HaxeFlixel since 2016, helping beginners learn how to use the platform to
		build their projects.
	</p>

	<h2>Personal Projects and Hobbies</h2>
	<p>
		When I'm not coding, I enjoy working on personal projects like my personal
		finance application, blog site, and minimalistic productivity tools. I also
		have a keen interest in visual arts and 3D design, which often complements
		my technical projects.
	</p>

	<h2>Hobbies</h2>
	<p>
		Outside of technology, I love spending time outdoors hiking and exploring
		nature trails in Florida. I’m an avid reader, especially of science fiction
		and fantasy novels, which fuel my creativity. I also enjoy make art and
		composing music as a way to relax and express myself. On weekends, I'll try
		cooking new recipes or watching movies. (sometimes both!)
	</p>
</Layout>
