---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Info dump about myself."
	pubDate={new Date('March 24 2024')}
	heroImage="/Lone-Tree-in-Tall-Grass.jpeg"
>
	<p>
		Hello! I go by Naxe online, a passionate software engineer with a knack for
		developing web and mobile apps. Based in Florida, I spend most of my time
		mastering various programming languages and frameworks, always striving to
		deliver high-quality software.
	</p>
	
	<h2>My Journey From Game Development to Engineering</h2>
	<p>
		My career began with a passion for creating immersive game experiences. I
		worked as a Game Engine Programmer at Sandbox Networks Inc, where I
		developed mobile and desktop applications using low-level graphics APIs
		(WebGL, OpenGL, DirectX). This role honed my skills in graphics performance,
		memory management, and multi-threading. It was here that I learned to
		translate creative ideas into technical specifications, resulting in
		feature-rich applications.
	</p>

	<h2>Scaling New Heights at Amazon</h2>
	<p>
		In 2018, I joined Amazon as a Fullstack Engineer. This role expanded my
		expertise in developing scalable web and mobile applications using Java,
		JavaScript, and TypeScript. I designed and implemented RESTful APIs and
		microservices, leveraging AWS cloud services for deployment and scaling. My
		time at Amazon was marked by a deep dive into Agile methodologies, CI/CD
		pipelines, and container orchestration using Docker and Kubernetes.
		Collaborating with UX/UI designers and product managers, I ensured that our
		applications delivered seamless user experiences.
	</p>

	<h2>Consulting and Engineering with .NET</h2>
	<p>
		In 2020, I transitioned to Coppei in Seattle, WA, where I worked as a .NET
		Engineer and Consultant. Over four years, I designed and developed over 15
		web applications using ASP.NET Core, C#, Angular, and React. I created and
		maintained RESTful APIs and microservices, implemented and optimized SQL
		Server databases, and managed automated build and deployment pipelines using
		Azure DevOps and GitHub Actions. My work with clients like Starbucks,
		T-Mobile, and McDonald's involved modernizing architectures, migrating
		codebases, and optimizing internal tools for better performance and
		scalability.
	</p>

	<h2>Independent Development and Continuous Learning</h2>
	<p>
		Outside of my professional roles, I've been an independent developer since
		2013, creating mobile and desktop applications with a variety of tech
		stacks. I am also passionate about personal projects, such as developing a
		personal finance application in Python and a this site using Jamstack
		architecture with Astro!
	</p>

	<h2>Skills and Certifications</h2>
	<p>
		I am proficient in multiple programming languages, including Java, C#, C++,
		SQL, and HTML/CSS/JavaScript. My certifications include Microsoft Certified
		.NET Developer and Oracle Certified Professional, Java SE 8 Programmer. I
		pride myself on strong problem-solving skills, excellent communication and
		teamwork, and a commitment to continuous learning.
	</p>

	<p>
		Thank you for visiting my site. Feel free to explore my projects, and check
		out my <a href="https://github.com/naxecode">GitHub</a>!
	</p>

	<h2>Community Involvement</h2>
	<p>
		I believe in giving back to the community and have been volunteering with
		HaxeFlixel since 2016, helping beginners learn how to use the platform to
		build their projects.
	</p>

	<h2>Personal Projects and Hobbies</h2>
	<p>
		When I'm not coding, I enjoy working on personal projects like my personal
		finance application, blog site, and minimalistic productivity tools. I also
		have a keen interest in visual arts and 3D design, which often complements
		my technical projects.
	</p>

	<h2>Hobbies</h2>
	<p>
		Outside of technology, I love spending time outdoors hiking and exploring
		nature trails in Florida. I’m an avid reader, especially of science fiction
		and fantasy novels, which fuel my creativity. I also enjoy make art and
		composing music as a way to relax and express myself. On weekends, I'll try
		cooking new recipes or watching movies. (sometimes both!)
	</p>
</Layout>
