---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="Past and current projects."
	pubDate={new Date('March 24 2024')}
	heroImage=""
>
	<div>
		<h3>Software:</h3>
		<ul>
			<li></li>
			<li></li>
			<li>Emoji Twitter</li>
			<li>Your Idea Here Custom Apperal</li>
			<li>Sunset Pomodoro</li>
		</ul>
	</div>
	<div>
		<h3>Games:</h3>
		<ul>
			<li>Ahmar</li>
			<li>Codename: Flow</li>
			<li>Turn-Stronger</li>
			<li>Slime Quest</li>
			<li>i ate two eggs</li>
			<li>Minnen</li>
			<li>Hop Friend Ressurection</li>
			<li>Vaporwave Breakout</li>
			<li>Dust Drop Doll</li>
		</ul>
	</div>
</Layout>
