---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Personal Projects"
	description="Past and current projects."
	pubDate={new Date('March 24 2024')}
	heroImage=""
>
	<div>
		<h3>Software:</h3>
		<ul>
			<li>Emoji Twitter ✨ - Live Demo not deployed - <a href="https://github.com/NaxeCode/emoji-twitter">Github</a></li>
			<li>Sunset Pomodoro - <a href="https://objective-kirch-7befaf.netlify.app/">Live Demo</a> - <a href="https://github.com/NaxeCode/Sunset-Pomo-Orange-Timer">Github</a></li>
			<li>Your Idea Here Custom Apperal - Live Demo not deployed - <a href="https://github.com/NaxeCode/your-idea-here-custom-shirts">Github</a></li>
			<li>Auto Pricing Kotlin - WIP - <a href="https://github.com/NaxeCode/Auto-Pricesheet">Github</a></li>
		</ul>
	</div>
	<div>
		<h3>Games:</h3>
		<ul>
			<li><del>Ahmar</del> now named Dinky! - Currently in Development ✨ <a href="https://github.com/NaxeCode/Ahmar">Github</a></li>
			<li>Codename: Flow - WIP!! <a href="https://github.com/NaxeCode/Flow">Github</a></li>
			<li>Turn-Stronger - WIP! <a href="https://github.com/NaxeCode/Turn-Stronger">Github</a></li>
			<li>Slime Quest - WIP <a href="https://github.com/NaxeCode/Slime-Quest">Github</a></li>
			<li><a href="https://www.newgrounds.com/portal/view/719303">i ate two eggs</a></li>
			<li>Minnen - TBA...</li>
			<li><a href="https://www.newgrounds.com/portal/view/695154">Hop Friend Ressurection</a></li>
			<li><a href="https://www.newgrounds.com/portal/view/711882">Vaporwave Breakout</a></li>
			<li><a href="https://www.newgrounds.com/portal/view/695939">Dust Drop Doll</a></li>
		</ul>
	</div>
</Layout>
