---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="Past and current projects."
	pubDate={new Date('March 24 2024')}
	heroImage=""
>
	<p>
		My current projects are as follows:
        <strong>under construction</strong>
	</p>
</Layout>
