---
import NewHeader from '../components/NewHeader.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<NewHeader />
			<div class="content">
				<h1>Simple Title Tag.</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					porttitor leo a diam sollicitudin tempor id. Semper viverra nam libero
					justo laoreet. Dolor sed viverra ipsum nunc aliquet bibendum enim
					facilisis. Sem integer vitae justo eget magna fermentum iaculis eu.
					Diam phasellus vestibulum lorem sed risus. Diam donec adipiscing
					tristique risus nec feugiat in. Orci sagittis eu volutpat odio
					facilisis mauris sit amet massa. Etiam erat velit scelerisque in.
					Rhoncus dolor purus non enim praesent elementum facilisis leo.
					Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus
					non. Dui nunc mattis enim ut. Nunc eget lorem dolor sed viverra ipsum
					nunc aliquet bibendum. Accumsan lacus vel facilisis volutpat est velit
					egestas dui id. Lectus proin nibh nisl condimentum. Tincidunt dui ut
					ornare lectus sit amet est placerat. Nunc sed id semper risus in.
					Mauris vitae ultricies leo integer malesuada nunc. Orci porta non
					pulvinar neque. Ut consequat semper viverra nam libero justo laoreet.
					Facilisis leo vel fringilla est ullamcorper eget nulla. Ipsum dolor
					sit amet consectetur adipiscing elit ut aliquam purus. Tempor nec
					feugiat nisl pretium fusce id velit ut tortor. Lacus laoreet non
					curabitur gravida arcu. Et ligula ullamcorper malesuada proin libero
					nunc. Scelerisque felis imperdiet proin fermentum leo vel orci. Augue
					neque gravida in fermentum et sollicitudin ac orci phasellus. Sem
					fringilla ut morbi tincidunt. Justo donec enim diam vulputate. Vel
					eros donec ac odio. Rhoncus urna neque viverra justo nec ultrices dui.
					Semper feugiat nibh sed pulvinar proin gravida. Consequat mauris nunc
					congue nisi vitae suscipit. Et ligula ullamcorper malesuada proin
					libero nunc. Ultrices sagittis orci a scelerisque purus semper eget.
					Ante in nibh mauris cursus mattis molestie a. Integer vitae justo eget
					magna fermentum iaculis eu non diam. In ante metus dictum at tempor
					commodo ullamcorper. Tempus imperdiet nulla malesuada pellentesque
					elit. Arcu cursus vitae congue mauris rhoncus aenean vel elit
					scelerisque. Et odio pellentesque diam volutpat. Vitae ultricies leo
					integer malesuada nunc. Sit amet nisl purus in mollis. Nec dui nunc
					mattis enim ut tellus elementum. Ac felis donec et odio pellentesque
					diam volutpat commodo sed. Diam in arcu cursus euismod. Sit amet
					commodo nulla facilisi nullam vehicula ipsum a arcu. Integer vitae
					justo eget magna. Tristique sollicitudin nibh sit amet. Elementum
					tempus egestas sed sed risus pretium. Pretium viverra suspendisse
					potenti nullam ac. Tempor commodo ullamcorper a lacus vestibulum sed
					arcu non odio. Elementum tempus egestas sed sed risus pretium quam
					vulputate. Morbi tincidunt augue interdum velit euismod in. Duis
					convallis convallis tellus id interdum. Sollicitudin tempor id eu nisl
					nunc. Imperdiet nulla malesuada pellentesque elit eget gravida cum
					sociis natoque. At risus viverra adipiscing at in. A pellentesque sit
					amet porttitor eget dolor morbi. Nulla facilisi etiam dignissim diam
					quis. Posuere lorem ipsum dolor sit amet consectetur adipiscing.
					Integer feugiat scelerisque varius morbi. Neque egestas congue quisque
					egestas diam in arcu cursus. Facilisi etiam dignissim diam quis enim.
					Tristique senectus et netus et malesuada fames ac turpis egestas.
					Adipiscing tristique risus nec feugiat in fermentum posuere urna.
					Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. A
					pellentesque sit amet porttitor eget dolor morbi non arcu. Eros donec
					ac odio tempor orci. In hac habitasse platea dictumst vestibulum
					rhoncus. Morbi blandit cursus risus at. Ornare suspendisse sed nisi
					lacus sed viverra tellus. Pharetra et ultrices neque ornare.
					Condimentum vitae sapien pellentesque habitant morbi tristique
					senectus. Dui ut ornare lectus sit amet est placerat in egestas. Neque
					ornare aenean euismod elementum nisi. Nunc congue nisi vitae suscipit
					tellus. Pretium fusce id velit ut. Et odio pellentesque diam volutpat
					commodo sed egestas egestas fringilla. Eget est lorem ipsum dolor sit
					amet consectetur. Pharetra massa massa ultricies mi. Adipiscing
					bibendum est ultricies integer quis auctor. Odio morbi quis commodo
					odio. At consectetur lorem donec massa sapien faucibus et. Est
					ultricies integer quis auctor elit. Feugiat pretium nibh ipsum
					consequat nisl vel pretium. Sit amet dictum sit amet. Donec ultrices
					tincidunt arcu non sodales neque. Viverra aliquet eget sit amet.
					Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Odio
					tempor orci dapibus ultrices in iaculis nunc. Odio aenean sed
					adipiscing diam donec. Morbi blandit cursus risus at. Sollicitudin ac
					orci phasellus egestas. Lacus vel facilisis volutpat est velit
					egestas. Mattis aliquam faucibus purus in massa tempor. Suspendisse
					interdum consectetur libero id. Nibh praesent tristique magna sit.
					Interdum velit laoreet id donec ultrices tincidunt arcu non sodales.
					Lorem ipsum dolor sit amet. Turpis in eu mi bibendum neque egestas
					congue quisque. Hac habitasse platea dictumst vestibulum rhoncus est
					pellentesque. Platea dictumst vestibulum rhoncus est pellentesque elit
					ullamcorper. Pellentesque elit eget gravida cum sociis. Eget sit amet
					tellus cras adipiscing enim eu turpis egestas. Ullamcorper sit amet
					risus nullam eget felis. Magna ac placerat vestibulum lectus mauris.
					Cras fermentum odio eu feugiat pretium. Sodales ut eu sem integer
					vitae. Nunc faucibus a pellentesque sit amet. Morbi blandit cursus
					risus at ultrices mi. Pulvinar etiam non quam lacus suspendisse
					faucibus interdum posuere lorem. Congue nisi vitae suscipit tellus
					mauris. Nisl rhoncus mattis rhoncus urna. Diam vulputate ut pharetra
					sit. Augue neque gravida in fermentum et sollicitudin ac orci. Ut
					etiam sit amet nisl purus in mollis. Accumsan tortor posuere ac ut.
					Tristique nulla aliquet enim tortor at auctor urna nunc. Diam sit amet
					nisl suscipit adipiscing. Tortor posuere ac ut consequat semper
					viverra nam libero justo. Et molestie ac feugiat sed. Pellentesque
					massa placerat duis ultricies lacus. Ac auctor augue mauris augue.
					Volutpat blandit aliquam etiam erat velit scelerisque in dictum non.
					Nec nam aliquam sem et. Vestibulum mattis ullamcorper velit sed. Risus
					at ultrices mi tempus imperdiet. Feugiat in fermentum posuere urna nec
					tincidunt praesent. Ac felis donec et odio pellentesque diam volutpat
					commodo. Justo nec ultrices dui sapien eget mi proin. Adipiscing elit
					ut aliquam purus sit. Ultricies integer quis auctor elit sed vulputate
					mi. Accumsan sit amet nulla facilisi. Non blandit massa enim nec.
					Pharetra et ultrices neque ornare aenean. Aliquet bibendum enim
					facilisis gravida neque. Iaculis nunc sed augue lacus viverra. Cursus
					eget nunc scelerisque viverra mauris in aliquam sem. Pharetra
					convallis posuere morbi leo urna molestie at elementum eu. Convallis
					tellus id interdum velit laoreet id. Vestibulum rhoncus est
					pellentesque elit ullamcorper dignissim. Nec feugiat in fermentum
					posuere urna nec tincidunt praesent. Nulla facilisi etiam dignissim
					diam quis enim. Nulla posuere sollicitudin aliquam ultrices sagittis
					orci. Turpis massa tincidunt dui ut ornare lectus sit amet est.
					Convallis aenean et tortor at risus viverra adipiscing at. Mi quis
					hendrerit dolor magna eget est lorem. Vitae suscipit tellus mauris a.
					Mauris vitae ultricies leo integer malesuada nunc vel risus commodo.
					Elit at imperdiet dui accumsan sit amet nulla facilisi. Eu volutpat
					odio facilisis mauris. Nibh venenatis cras sed felis eget velit
					aliquet. Tellus pellentesque eu tincidunt tortor aliquam nulla
					facilisi cras. Purus gravida quis blandit turpis cursus in hac.
					Commodo sed egestas egestas fringilla. Morbi blandit cursus risus at
					ultrices mi. Sagittis vitae et leo duis ut diam quam nulla porttitor.
					Ultricies mi eget mauris pharetra et ultrices neque. Nunc aliquet
					bibendum enim facilisis gravida neque convallis a. Nunc sed augue
					lacus viverra vitae. At urna condimentum mattis pellentesque id nibh.
					Dignissim enim sit amet venenatis urna cursus eget. Amet consectetur
					adipiscing elit duis tristique. Volutpat commodo sed egestas egestas.
					Lobortis elementum nibh tellus molestie. Sit amet justo donec enim
					diam vulputate ut pharetra. Habitasse platea dictumst quisque sagittis
					purus. Tristique magna sit amet purus. Nisl nunc mi ipsum faucibus
					vitae aliquet. Pretium viverra suspendisse potenti nullam ac tortor
					vitae purus. Pulvinar mattis nunc sed blandit libero volutpat sed cras
					ornare. Feugiat scelerisque varius morbi enim nunc faucibus a
					pellentesque. Ultrices vitae auctor eu augue ut. Sapien nec sagittis
					aliquam malesuada bibendum arcu vitae. Velit egestas dui id ornare
					arcu odio ut sem. Pellentesque elit ullamcorper dignissim cras
					tincidunt lobortis feugiat. Proin libero nunc consequat interdum
					varius sit amet mattis vulputate. Quis vel eros donec ac odio tempor.
					Blandit libero volutpat sed cras ornare arcu dui. Id velit ut tortor
					pretium viverra suspendisse potenti nullam ac. Amet volutpat consequat
					mauris nunc congue nisi vitae. Nibh cras pulvinar mattis nunc sed
					blandit. Quis enim lobortis scelerisque fermentum. Pellentesque
					habitant morbi tristique senectus et netus et malesuada fames. Donec
					enim diam vulputate ut pharetra sit amet aliquam. Elementum curabitur
					vitae nunc sed velit. Sit amet consectetur adipiscing elit ut aliquam
					purus sit amet. Iaculis eu non diam phasellus. In metus vulputate eu
					scelerisque. Mi eget mauris pharetra et ultrices. Aenean sed
					adipiscing diam donec adipiscing tristique risus nec feugiat. Bibendum
					enim facilisis gravida neque convallis a cras. Pulvinar etiam non quam
					lacus. In fermentum posuere urna nec tincidunt praesent semper
					feugiat. Risus feugiat in ante metus dictum at tempor. Pulvinar neque
					laoreet suspendisse interdum consectetur libero. Consectetur purus ut
					faucibus pulvinar elementum integer. Nunc congue nisi vitae suscipit
					tellus mauris. Arcu bibendum at varius vel. Aliquam ut porttitor leo a
					diam sollicitudin. At in tellus integer feugiat scelerisque varius
					morbi enim nunc. Tempus egestas sed sed risus pretium quam vulputate
					dignissim suspendisse. Amet aliquam id diam maecenas ultricies mi eget
					mauris. Urna nec tincidunt praesent semper feugiat. Adipiscing
					tristique risus nec feugiat in fermentum posuere urna. Nunc pulvinar
					sapien et ligula ullamcorper malesuada proin libero nunc. Adipiscing
					tristique risus nec feugiat in. Eu lobortis elementum nibh tellus
					molestie nunc. Ut enim blandit volutpat maecenas volutpat. Semper
					feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Eu
					tincidunt tortor aliquam nulla facilisi cras fermentum. Egestas sed
					tempus urna et pharetra pharetra. Volutpat ac tincidunt vitae semper
					quis lectus nulla at volutpat. Cras ornare arcu dui vivamus. Ac felis
					donec et odio pellentesque diam. In tellus integer feugiat scelerisque
					varius morbi enim nunc faucibus. Pretium quam vulputate dignissim
					suspendisse in est ante in. Ut placerat orci nulla pellentesque
					dignissim. Eu ultrices vitae auctor eu. Pellentesque habitant morbi
					tristique senectus et netus. Habitant morbi tristique senectus et.
					Convallis aenean et tortor at risus viverra adipiscing at in. Potenti
					nullam ac tortor vitae. Sollicitudin ac orci phasellus egestas tellus.
					Vulputate eu scelerisque felis imperdiet proin fermentum. A
					condimentum vitae sapien pellentesque habitant. Est lorem ipsum dolor
					sit amet consectetur adipiscing elit pellentesque. Convallis tellus id
					interdum velit. Sed id semper risus in hendrerit gravida rutrum
					quisque. Faucibus vitae aliquet nec ullamcorper sit. Quis varius quam
					quisque id diam vel. Duis at consectetur lorem donec massa sapien. A
					diam maecenas sed enim. Fermentum leo vel orci porta non pulvinar
					neque. Feugiat nisl pretium fusce id velit ut tortor. Risus in
					hendrerit gravida rutrum. Amet consectetur adipiscing elit ut.
					Bibendum ut tristique et egestas quis ipsum suspendisse. Nullam non
					nisi est sit. Dolor morbi non arcu risus. Fringilla ut morbi tincidunt
					augue. Enim sit amet venenatis urna cursus eget nunc scelerisque.
					Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Aliquam
					vestibulum morbi blandit cursus. Adipiscing elit pellentesque habitant
					morbi tristique senectus et. Sit amet nisl suscipit adipiscing.
					Malesuada bibendum arcu vitae elementum. Lorem ipsum dolor sit amet
					consectetur. Arcu non sodales neque sodales ut etiam. Id neque aliquam
					vestibulum morbi blandit cursus risus at ultrices. Eget arcu dictum
					varius duis at. Vestibulum rhoncus est pellentesque elit ullamcorper
					dignissim cras. Interdum consectetur libero id faucibus nisl tincidunt
					eget nullam. Etiam dignissim diam quis enim lobortis scelerisque
					fermentum dui faucibus. Quis varius quam quisque id diam vel quam
					elementum pulvinar. Enim nec dui nunc mattis enim ut. Morbi blandit
					cursus risus at ultrices mi tempus. Semper feugiat nibh sed pulvinar
					proin. Varius sit amet mattis vulputate. Adipiscing diam donec
					adipiscing tristique risus nec. Integer quis auctor elit sed. Sed enim
					ut sem viverra. Porta nibh venenatis cras sed felis eget velit.
					Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
					Non tellus orci ac auctor augue mauris. Vitae ultricies leo integer
					malesuada nunc vel risus commodo. Pellentesque nec nam aliquam sem et.
					Convallis a cras semper auctor neque vitae. Viverra maecenas accumsan
					lacus vel facilisis. Diam quam nulla porttitor massa id neque aliquam.
					Nisl suscipit adipiscing bibendum est ultricies integer quis auctor
					elit. At auctor urna nunc id cursus metus. Tellus cras adipiscing enim
					eu turpis egestas pretium aenean. Maecenas volutpat blandit aliquam
					etiam erat velit scelerisque in dictum. Risus at ultrices mi tempus
					imperdiet nulla. Convallis posuere morbi leo urna. Gravida cum sociis
					natoque penatibus et. Integer vitae justo eget magna fermentum iaculis
					eu non. Ultrices dui sapien eget mi proin. Lorem donec massa sapien
					faucibus et molestie. Eget magna fermentum iaculis eu. Sit amet tellus
					cras adipiscing enim eu. Varius morbi enim nunc faucibus a
					pellentesque. Donec ac odio tempor orci dapibus ultrices in. Id
					aliquet risus feugiat in. Varius vel pharetra vel turpis nunc. Enim
					neque volutpat ac tincidunt vitae semper quis lectus nulla. Amet
					consectetur adipiscing elit duis. Vitae tortor condimentum lacinia
					quis vel eros donec. Sit amet est placerat in egestas erat. Congue
					mauris rhoncus aenean vel. Mauris cursus mattis molestie a iaculis at
					erat pellentesque adipiscing. Ullamcorper dignissim cras tincidunt
					lobortis feugiat vivamus at. Blandit libero volutpat sed cras ornare
					arcu dui vivamus arcu. Morbi leo urna molestie at. Nisl vel pretium
					lectus quam id leo. Nisl pretium fusce id velit. Enim nunc faucibus a
					pellentesque sit. Ante in nibh mauris cursus mattis. Aenean et tortor
					at risus viverra adipiscing. Augue interdum velit euismod in. Odio
					morbi quis commodo odio aenean sed adipiscing. Sed viverra tellus in
					hac habitasse platea dictumst vestibulum. Nibh venenatis cras sed
					felis eget velit aliquet sagittis id. Nullam non nisi est sit.
					Tristique senectus et netus et malesuada fames ac turpis egestas. Sed
					vulputate mi sit amet mauris commodo quis imperdiet massa. Adipiscing
					vitae proin sagittis nisl rhoncus mattis. Quis varius quam quisque id
					diam vel quam. Mi quis hendrerit dolor magna eget. Mauris augue neque
					gravida in fermentum et sollicitudin. Eget magna fermentum iaculis eu
					non diam phasellus. Nibh venenatis cras sed felis eget velit aliquet
					sagittis id. Scelerisque fermentum dui faucibus in ornare quam viverra
					orci sagittis. At tellus at urna condimentum mattis. Blandit cursus
					risus at ultrices mi tempus imperdiet nulla. Tortor id aliquet lectus
					proin nibh nisl condimentum. Iaculis eu non diam phasellus vestibulum
					lorem sed risus. Eu feugiat pretium nibh ipsum. Aliquet risus feugiat
					in ante metus dictum at. Massa eget egestas purus viverra. Magna sit
					amet purus gravida quis blandit. Auctor elit sed vulputate mi. Viverra
					vitae congue eu consequat ac felis. Convallis tellus id interdum velit
					laoreet id donec ultrices. Elit ut aliquam purus sit amet luctus
					venenatis lectus. Venenatis urna cursus eget nunc scelerisque viverra.
					Auctor eu augue ut lectus. Aliquet porttitor lacus luctus accumsan
					tortor posuere. Nibh venenatis cras sed felis eget velit aliquet
					sagittis id. Viverra accumsan in nisl nisi scelerisque eu ultrices
					vitae. Diam quam nulla porttitor massa id neque aliquam. Aliquam
					malesuada bibendum arcu vitae elementum curabitur. Semper eget duis at
					tellus at urna. Est ante in nibh mauris cursus. Velit egestas dui id
					ornare arcu odio ut. Ultrices vitae auctor eu augue ut lectus arcu
					bibendum at. Cursus euismod quis viverra nibh cras pulvinar mattis
					nunc. Et malesuada fames ac turpis egestas. Odio eu feugiat pretium
					nibh. Fames ac turpis egestas maecenas pharetra convallis posuere
					morbi leo. Ut ornare lectus sit amet est. Vel facilisis volutpat est
					velit egestas dui id. Donec pretium vulputate sapien nec. Sed risus
					ultricies tristique nulla. Semper feugiat nibh sed pulvinar. Fusce ut
					placerat orci nulla pellentesque dignissim enim. Semper viverra nam
					libero justo laoreet sit amet cursus sit. Sapien pellentesque habitant
					morbi tristique senectus et netus et. Habitasse platea dictumst
					vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Leo a
					diam sollicitudin tempor id.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
