---
import RandomFox from "../components/RandomFox";
---
<div>
    <text>
        <p><strong>Random 🦊</strong></p>
    </text>
    <fox>
        <RandomFox />
    </fox>
</div>



<style>
    text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    fox {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>